<!doctype html>
<html>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stefanini | Treinamento</title>
  <link rel="stylesheet" href="scss/style.css">

</head>
<div ng-app='myApp'   style="top: inherit">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img width="70px" src="favicon.png" />Treinamento</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item">
              <a class="nav-link" ui-sref="dono"  href="modulos/dono/dono.view.html">Lista Dono</span></a>
            </li>
          </ul>
    
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item">
              <a class="nav-link" ui-sref="dono"  href="modulos/home/home.view.html">Cadastrar</span></a>
            </li>
          </ul>
            
          <!--<form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0">Exercício</button>
          </form>-->
        </div>
      </nav>

      <main role="main">
        <div class="container">
            <ui-view></ui-view>
          </div><br><br><br>
          
          <body>          
    <br><br><br><br>
              
              
   
      <div class="center"></div>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" >Dono</th>
          <th scope="col">Cachorro</th>
          
            <th scope="col">Editar e Excluir</th>
        </tr>
      </thead>
      <tbody ng-repeat='dono in vm.donos'>
          <tr ng-repeat='cachorro in dono.cachorros'>
              <td><b><script>{{$index+1}}</script></b></td>
            <td><script>{{dono.nome}}</script></td>
            <td><script>{{cachorro.nome}}</script></td>
           
        </tr>
      </tbody>
    </table>
    
  </div>
    
    
    
          </body>

      </main>
      <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="bottomleft"></div>
          <span class="text-muted">© 1988-2019 STEFANINI IT SOLUTIONS</span>
        </div>
      </footer>
  <script src="./bundle.js"></script>


</html>